src/flows/Case_Asset_Updated.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Case Asset Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Asset Updated</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Case_Asset</name>
        <label>Lookup Case Asset</label>
        <locationX>151</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TRC_PLC_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseAssetID</elementReference>
            </value>
        </filters>
        <object>Case_Asset__c</object>
        <outputAssignments>
            <assignToReference>VarProductClass</assignToReference>
            <field>Product_Class__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>TRC_PLC_Lookup</name>
        <label>TRC/PLC Lookup</label>
        <locationX>156</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Asset</targetReference>
        </connector>
        <filters>
            <field>Product_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarProductClass</elementReference>
            </value>
        </filters>
        <object>TRC_PLC_Codes__c</object>
        <outputAssignments>
            <assignToReference>varPLCBucket</assignToReference>
            <field>PLC_Bucket__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTRCGroup</assignToReference>
            <field>TRC_Group__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Asset</name>
        <label>Update Case Asset</label>
        <locationX>155</locationX>
        <locationY>355</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseAssetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PCL_Group__c</field>
            <value>
                <elementReference>varPLCBucket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRC_Group_text__c</field>
            <value>
                <elementReference>varTRCGroup</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Asset__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Case_Asset</startElementReference>
    <status>Active</status>
    <variables>
        <name>VarCaseAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPLCBucket</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarProductClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTRCGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
